import { getIndexData } from '../BlogData';
import BlogListing from '../BlogListing';

export async function getStaticProps () {
    const currentPageNum = {pageNum};

    return {
        props: {
            indexData: await getIndexData({
                currentPageNum,
            }),
        },
    };
}

export default BlogListing;
